<div class="card-panel question row">
  <div class="col s2 center-align">
    <%= image_tag question.user.profile.avatar, size: "80x80",
      class: "responsive-img circle" %>
  </div>
  <div class="col s10">
    <% if policy(question).destroy? %>
      <a class='dropdown-button right'
        data-activates="<%= dom_id(question) %>">
        <i class="material-icons">more_vert</i>
      </a>
      <ul id="<%= dom_id(question) %>" class="dropdown-content">
        <% if policy(question).update? %>
          <li><%= link_to "Sửa", [:edit, question], class: "edit" %></li>
        <% end %>
        <li><%= link_to "Xóa", question, method: :delete, class: "delete",
          data: { confirm: "Bạn có chắc chắn?" } %></li>
      </ul>
    <% end %>

    <%= link_to question do %>
      <p class="time-ago">
        <%= display_time question.created_at %> bởi 
        <span><%= question.user.full_name %></span>
      </p>
      <h5><%= question.title %></h5>
      <div class="chip-count">
        <%= m_icon "thumb_up", text: question.count_votes(:up) %>
      </div>
      <div class="chip-count">
        <%= m_icon "thumb_down", text: question.count_votes(:down) %>
      </div>
      <div class="chip-count">
        <%= m_icon "forum", text: question.count_answers %>
      </div>
    <% end %>
  </div>
</div>
