<blockquote>
  <p><strong>Người đăng: </strong>
  <%= link_to @question.user.full_name, @question.user.profile %>
  </p>
  <p><strong>Tiêu đề: </strong> <%= @question.title%></p>
  <p> <strong>Nội dung: </strong> <%= @question.body %></p>
  <% if  current_user.is_author?(@question)%>
  <%= link_to "Edit", edit_question_path, class: "edit" %>
  <% end %>
  <% if current_user.is_author?(@question) || 
    current_user.is_patron?(@question.group)  %>   
    <%= link_to [@group, @question], method: :delete,
      data: { tooltip: "Xoá câu hỏi", delay: 10 },
      class: "secondary-content tooltipped red-text" do %>
      <i class="material-icons">clear</i>
    <% end %>
  <% end %>
</blockquote>
<%= render @question.answers, question: @question %>
<%= render 'answers/form', question: @question, answer: @answer %>