<ul class="collection">
  <li class="collection-item">
    <p><%= m_icon 'public', class: 'left' %> Giới thiệu</p>
    <p><%= @profile.bio %></p>
  </li>

  <li class="collection-item">
    <%= m_icon 'public', class: 'left' %>
    <b>Đang theo học tại</b> <%= @profile.school %>
  </li>
  <li class="collection-item">
  <%= m_icon 'school', class: 'left' %>
    <b>Đang học ngành</b> <%= @profile.major %>
  </li>
  <li class="collection-item">
    <%= m_icon 'access_time', class: 'left' %> 
    <b>Tham gia vào</b> <%= l(@profile.created_at, format: '%B, %Y') %>
  </li>
  
  <% if @profile.skills.any? %>
    <li class="collection-item">
      <p><%= m_icon 'code', class: 'left' %> Kỹ năng</p>
      <%= render @profile.skills, edit_mode: false %>
    </li>
  <% end %>
</ul>
