<h1>Profiles#show</h1>
<% if user_signed_in? && current_user.own?(@profile) %>
  <%= link_to "Edit", edit_profile_path(username: @profile.username) %>
  <% if @profile.facebook_uid %>
    <p>Connected</p>
  <% else %>
    <%= link_to "Connect to facebook", "#{root_url}auth/facebook" %>
  <% end %>
<% end %>
<div class="user-profile">
<p>Name: <b><%= @profile.user.name %></b></p>
<p>Username: <b><%= @profile.username %></b></p>
<%= @profile.bio %>
<p>Major:<b><%= @profile.major.try(:name) %></b> </p>

<p>School: <b><%= @profile.school.try(:name) %></b></p>
</div>