<div id="profile">
  <div class="profile-bg">
    <div class="profile-avatar">
      <%= image_tag @profile.avatar, class: "circle left" %>
      <div>
        <h5><%= @profile.user.full_name %></h5>
        <p>
          <%= @profile.user.student_id %> - <%= @profile.school.try(:name) %>
        </p>
        <p id="nerpat-request-btn">
        	<%= nerpat_request_button(@profile.user) %>
        </p>
      </div>
    </div>
  </div>
  
  <div class="profile-info">
    <%= render "about" %>
  </div>
</div>
