<h1>Profiles#show</h1>
<% if @profile.facebook_uid %>
  <%= current_user.name %>
<% else %>
  <%= link_to "Connect to facebook", "#{root_url}auth/facebook" %>
<% end %>
<%= @profile.username %>
<%= @profile.bio %>
<%= @profile.major.try(:name) %>
<%= link_to "Edit", edit_profiles_path %>