<li class="collection-item avatar">
  <%= image_tag notification.actor.profile.avatar_image, class: "circle" %>
  <span class="title"><%= notification.actor.full_name %></span>
  <p>
    <span class="grey-text"><%= notification.action %></span>
    <div class="action-divider"></div>
    <%= link_to (notification.nerge_request? ? 
      [:decline_add_nerge_request, notification.actor] : 
      [:decline_add_patron_request, notification.actor]),
      method: :delete, class: "btn-flat" do %>
      <i class="material-icons left red-text">clear</i>Từ chối
    <% end %>

    <%= link_to (notification.nerge_request? ?
      [:accept_add_nerge_request, notification.actor] :
      [:accept_add_patron_request, notification.actor]),
      method: :post, class: "btn-flat" do %>
      <i class="material-icons left green-text">check</i>Đồng ý
    <% end %>
  </p>
  <a href="#!" class="secondary-content">
    <%= time_ago_in_words notification.created_at %>
  </a>
</li>