<li class="collection-item avatar">
  <%= link_to notification_path_for(notification), class: "black-text" do %>
    <%= image_tag notification.actor.profile.avatar_image, class: "circle" %>
    <span class="title"><%= notification.actor.full_name %></span>
    <p><span class="grey-text"><%= notification.action %></span></p>
    <%= link_to time_ago_in_words(notification.created_at),
      notification_path_for(notification), class: "secondary-content" %>
  <% end %>
</li>