<div class="group container-fluid">
  <div class="section">
    <% if policy(@group).update? %>
      <a class='dropdown-button right' data-activates="<%= dom_id(@group) %>" >
        <i class="material-icons">more_vert</i>
      </a>
      <ul id="<%= dom_id(@group) %>" class="dropdown-content">
        <li><%= link_to "Chỉnh sửa", [:edit, @group] %></li>
      </ul>
    <% end %>
    <h5 class="section-title truncate"><%= @group.name %></h5>
  </div>

  <ul class="tabs">
    <li class="tab"><a href="#test1">Mới nhất</a></li>
    <li class="tab"><a href="#test16">Nổi bật</a></li>
    <li class="tab"><a href="#test18">Đang theo dõi</a></li>
  </ul>
  <div class="divider"></div>

  <div id="questions-newests">
    <%= render Question.all %>
  </div>
</div>

<div class="fixed-action-btn">
  <%= link_to m_icon('add'), new_group_question_path(@group), 
    class: "btn-floating btn-large tooltipped", 
    data: {tooltip: "Đặt câu hỏi", position: "left"} %>
</div>
