<li class="collection-item avatar">
  <%= image_tag nerge.profile.avatar, class: "circle" %>
  <span class="title">
    <strong>
      <%= link_to nerge.full_name, nerge.profile, class: "black-text" %>
    </strong>
  </span>
  <p class="grey-text">
    <%= nerge.profile.username %><br/>
    <%= nerge.profile.major %> - <%= nerge.profile.school %>
  </p>
  
  <% if user_signed_in? && current_user.nerges.exists?(nerge.id) %>
    <%= link_to m_icon('clear'), [:remove_nerge, nerge], method: :delete,
      data: { tooltip: "Ngưng nhận Nerge", delay: 10,
        confirm: "Bạn có chắn chắn ngưng nhận Nerge này?" },
      class: "secondary-content tooltipped red-text" %>
  <% else %>
    <%= link_to m_icon('send'), nerge.profile,
      class: "secondary-content nerge-text" %>
  <% end %>
</li>