<% if patron %>
<ul class="collection with-header">
  <li class="collection-header white-text patron">
    <h4 class="center">Patron</h4>
  </li>
 
  <li class="collection-item avatar">
    <%= image_tag patron.profile.avatar, class: "circle" %>
    <span class="title">
      <strong>
        <%= link_to patron.full_name, patron.profile, class: "black-text" %>
      </strong>
    </span>
    <p class="grey-text">
      <%= patron.profile.username %><br/>
      <%= patron.profile.major %> - <%= patron.profile.school %>
    </p>
    
    <% if user_signed_in? && (current_user.patron == patron) %>
      <%= link_to m_icon('clear'), [:remove_patron, patron], method: :patch,
        data: { tooltip: "Ngưng nhận Patron", delay: 10,
          confirm: "Bạn có chắn chắn ngưng nhận Patron này?" },
        class: "secondary-content tooltipped red-text" %>
    <% else %>
      <%= link_to m_icon('send'), patron.profile,
        class: "secondary-content patron-text" %>
    <% end %>
  </li>
</ul>
<% end %>