<div class="user col s12 m6 l4">
  <div class="card-panel <%= custom_class %>">
    <%= link_to "", user.profile %>
  </div>

  <div class="card">
    <div class="card-content center">
      <%= image_tag user.profile.avatar, size: '80x80', class: "circle" %>
      <h5><%= user.full_name %></h5>

      <p><%= user.profile.major %></p>
      <p><%= user.profile.school %></p>
    </div>

    <div class="card-action right-align">
      <%= display_nerpat_request_button user, text, link, mthd, custom_class %>
    </div>
  </div>
</div> 