<div class="user col s6 m4 l4 xl3">
  <div class="card">
    <% if user_signed_in? && current_user.nerpatship?(user) %>
      <%= link_to m_icon("close"), (current_user.patron == user ? 
        [:remove_patron, user] : [:remove_nerge, user]),
        method: :patch, class: "remove-nerpat-btn", remote: true,
        data: { confirm: "Bạn đã chắc chắn chưa?" } %>
    <% end %>

    <div class="card-content center-align">
      <%= image_tag user.profile.avatar, class: "avatar-preview" %>
    </div>
    <div class="user-info center-align">
      <%= link_to user.full_name, user.profile, class: "black-text" %><br/>
      <small><%= user.profile.major %></small>
      <div class="view-more-wrapper">
        <%= link_to "Xem thêm", user.profile, class: "btn-flat blue-text",
          target: "_blank" %>
      </div>
    </div>
  </div>
</div> 
