<div class="user col s12 m6 l4">
  <div class="card-panel <%= custom_class %>">
    <%= link_to "", user.profile %>
  </div>

  <div class="card">
    <div class="card-content center">
      <%= image_tag user.profile.avatar, size: '80x80', class: "circle" %>
      <h5><%= user.full_name %></h5>

      <p><%= user.profile.major %> - <%= user.profile.school %></p>
    </div>

    <div class="card-action right-align">
      
      <% if user.notifications.nerpat_requests.any? %>
        <%= link_to "Đã gửi yêu cầu",
          (user.first_nerpat_request.nerge_request? ? 
            [:cancel_nerge_request, user] : 
            [:cancel_patron_request, user]), method: :delete,
          data: { confirm: "Bạn có chắc chắn muốn hủy yêu cầu này" },
          class: "btn btn-flat grey lighten-2 grey-text" %>
      <% else %>
        <%= link_to text, link, method: mthd, class: "btn #{custom_class}" %>
      <% end %>
    </div>
  </div>
</div> 