<div class="user col s12 m6 l4">
  <div class="card-panel <%= custom_class %>">
    <%= link_to "", user.profile %>
  </div>

  <div class="card">
    <div class="card-content center">
      <%= image_tag user.profile.avatar_image.url, size: '80x80', class: "circle" %>
      <h5><%= user.ordered_name %></h5>
      <p><%= user.profile.major %> - <%= user.profile.school %></p>
    </div>

    <div class="card-action right-align">
      <%= link_to text, link, method: mthd, class: "btn #{custom_class}" %>
    </div>
  </div>
</div> 