<div class="answer">
  <% if policy(answer).destroy?  %>
    <a class='dropdown-button right' href='#'
      data-activates="<%= dom_id(answer, :as) %>" >
      <i class="material-icons">more_vert</i>
    </a>
    <ul id='<%= dom_id(answer, :as) %>' class='dropdown-content'>
      <% if policy(answer).update? %>
        <li><%= link_to "Sửa", [:edit, answer], class: "edit" %></li>
      <% end %>
      <li><%= link_to "Xóa", answer, method: 'delete', class: "delete" %></li>
    </ul>
  <% end %>

  <p>
    <%= link_to answer.user.full_name, answer.user.profile %>
  </p>
  <i class="time"><%= display_time(answer.updated_at) %></i>
  <p><%= answer.content %></p>

  <%= render 'shared/vote', record: answer,
    uplink: [:upvote, answer], downlink: [:downvote, answer] %>
</div>
