<div class="answer">
 <% if !current_user.cannot_destroy?(answer)  %>   
    <a class='dropdown-button right' href='#'
      data-activates="<%= dom_id(answer, :as) %>" >
      <i class="material-icons">more_vert</i>
    </a>
    <ul id='<%= dom_id(answer, :as) %>' class='dropdown-content'>
      <% if current_user.is_author?(answer)%>
        <li>
          <%= link_to "Edit", [:edit, answer], class: "black-text"%>
        </li>
      <% end %>
      <li>
        <%= link_to "Delete", answer, method: 'delete', class: "red-text" %>
      </li>
    </ul>   
  <% end %>
  <p>
    <%= link_to answer.user.full_name, answer.user.profile %>
  </p>
  <i class="time"><%= time_in_words(answer.updated_at) %></i>
  <p>
    <%= answer.content %>
  </p>
  <%= render 'shared/vote', record: answer, uplink: answer_upvote_answer_path(answer), downlink: answer_downvote_answer_path(answer) %>
  <div class="divider"></div>
</div>