<div class="container-fluid">
  <p></p><br/>
  <div class="row">
    <% if user_signed_in? %>
      <%= render current_user.available_nerges %>
      <%= render current_user.available_nerges %>
      <%= render current_user.available_nerges %>
      <%= render current_user.available_nerges %>
      <%= render current_user.available_nerges %>
      <%= render current_user.available_nerges %>
    <% else %>
      <%= render User.all %>
      <%= render User.all %>
      <%= render User.all %>
    <% end %>
  </div>
</div>
