<!DOCTYPE html>
<html>
  <head>
    <title>Nerpat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="sign-in-<%= user_signed_in? %>">
    <div class="navbar-fixed">
      <nav id="top-navbar" class="z-depth-0">
        <div class="nav-wrapper ">
          <% if user_signed_in? %>
            <a href="#" data-activates="slide-out" 
              class="button-collapse"><%= m_icon "menu" %></a>
          <% end %>
          <%= link_to "Nerpat", root_path, class: "brand-logo" %>

          <ul class="right">
            <% unless user_signed_in? %>
              <li><a href=""><%= m_icon "search" %></a></li>
              <li><%= link_to "ĐĂNG NHẬP", "auth/google_oauth2",
                class: "waves-effect" %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>

    <main><%= yield %></main>

    <% flash.each do |key, msg| %>
      <%= javascript_tag "Materialize.toast('#{msg}', 4000, '#{key}')" %>
    <% end %>

    <%= render "layouts/side_nav" %>
    <div class="se-pre-con"><%= render "shared/spinner", size: "small" %></div>
  </body>
</html>
