<!DOCTYPE html>
<html>
<head>
  <title>Nerpat</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>

  <div class="navbar-fixed">
    <nav id="top-navbar" class="z-depth-0">
      <div class="nav-wrapper ">
        <% if user_signed_in? %>
          <a href="#" data-activates="slide-out" 
            class="button-collapse hide-on-med-and-up"><%= m_icon "menu" %></a>
        <% end %>
        <%= link_to "Nerpat", root_path, class: "brand-logo" %>

        <ul class="right">
          <li><a href=""><%= m_icon "search" %></a></li>
          <% if user_signed_in? %>
            <li class="hide-on-small-only">
              <%= link_to nerpat_requests_path, id: "nerpat-requests-button",
                class: "waves-effect", remote: true do %>
                <%= m_icon "supervisor_account" %>
                <span class="new badge badge-with-icon" data-badge-caption="">
                  <%= current_user.notifications.nerpat_requests.unread.count %>
                </span>
              <% end %>
            </li>

            <li class="hide-on-small-only"><a href="#" class="waves-effect">
              <%= m_icon "message" %>
              <span class="new badge badge-with-icon" 
                data-badge-caption="">--</span>
            </a></li>

            <li>
              <%= link_to notifications_path, id: "notifications-button",
                class: "waves-effect", remote: true do %>
                <%= m_icon "notifications" %>
                <span class="new badge badge-with-icon" 
                  data-badge-caption=""><%= current_user.notifications
                    .without_nerpat_requests.unread.count %></span>
              <% end %>
            </li>

            <ul id="user-dropdown" class="dropdown-content">
              <li><%= link_to "Trang cá nhân",
                 current_user.profile %></li>
              <li><%= link_to "Đăng xuất", logout_path, method: :delete %></li>
            </ul>
            <li>
              <%= link_to image_tag(current_user.profile.avatar,
								class: "circle"), current_user.profile,
								class: "hide-on-med-and-up" %>
							<a id="user-dropdown-button" 
								class="hide-on-small-only dropdown-button persistent"
                href='#' data-activates='user-dropdown'>
                <%= image_tag current_user.profile.avatar,
                  class: "circle left" %>
                <%= current_user.first_name %>
                <%= m_icon "arrow_drop_down", class: "right" %>
              </a>
            </li>
          <% else %>
            <li><%= link_to "ĐĂNG NHẬP", "auth/google_oauth2",
              class: "waves-effect" %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
  <% if user_signed_in? %>
    <ul id="slide-out" class="side-nav">
      <li><div class="userView">
        <div class="background primary"></div>

        <%= link_to m_icon("power_settings_new"), logout_path, method: :delete,
          class: "sign-out" %>  
        <%= link_to current_user.profile do %>
          <%= image_tag(current_user.profile.avatar, class: "circle") %>
          <span class="white-text name"><%= current_user.full_name %></span>
          <span class="white-text email">
            <%= current_user.profile.school %>
          </span>
        <% end %>
      </div></li>
      <li><a href="#"><%= m_icon "home" %>Trang chủ</a></li>
      <li><a href="#"><%= m_icon "search" %>Tìm Nerge/Patron</a></li>
      <li><a href="#">
        <%= m_icon "supervisor_account" %>Yêu cầu nhận Nerge/Patron
      </a></li>
      <li><a href="#"><%= m_icon "notifications" %>Thông báo</a></li>
      <li><div class="divider"></div></li>
      <li><a href="#"><%= m_icon "settings" %>Cài đặt</a></li>
      <li><a href="#"><%= m_icon "feedback" %>Gửi phản hồi</a></li>
      <li><a href="#"><%= m_icon "help" %>Trợ giúp</a></li>
    </ul>
  <% end %>

  <div id="notifications" class="notifications" style="display: none"></div>
  <div id="nerpat-requests" class="notifications" style="display: none"></div>
    
  <% flash.each do |key, msg| %>
    <%= javascript_tag "Materialize.toast('#{msg}', 4000, '#{key}')" %>
  <% end %>

  <main><%= yield %></main>
</body>
</html>
