<!DOCTYPE html>
<html>
  <head>
    <title>Nerpat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <% flash.each do |key, msg| %>
      <div class="alert alert-<%= key %>"><%= msg %></div>
    <% end %>
  <body>
    <% if user_signed_in? %>
      <h2>Hi, <%= current_user.name %></h2>
      <%= link_to "Sign out?", logout_path, method: :delete %>
      <%= link_to "Profile",
        username_path(username: current_user.profile.username)  %>
    <% else %>
      <%= link_to "Sign in", 'auth/google_oauth2' %>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
